* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    height: 100vh;
    color: white;
    background-color: lightcyan;
}


form {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding: 10px;
}

input {
    width: 450px;
    height: 40px;
    background-color: transparent;
    border-radius: 10px;
    padding: 10px;
}

label{
    font-size: 36px;
    color: black;
    text-align: center;
    margin-bottom: 40px;
}

textarea{
    height: 60px;
    background-color: transparent;
    padding: 10px;
}
button{
    height: 30px;
}

